footer {
    /* position: -webkit-sticky;
    position: sticky; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    margin-top: auto;
    flex-shrink: 0;
}
.social-footer-icons {
    list-style-type: none; 
    margin-bottom: 0;
}
.social-footer-icons li {
    float: right; 
    text-align: center; 
    width: 2em; 
}
ul li a .fa-brands,ul li a .fa-solid { 
    color:rgb(255, 255, 255);
}
ul li a i {
    font-size: 1.25em;
} 
ul li a:hover i{ 
    transform: translateY(-20%) !important; 
    color:green;
}
#btnvote:hover, #btnupload:hover {
    transform: scale(1.05, 1.05) !important;
}
#links a:hover{
    transform: translateY(-20%) !important;
    color: red;
}
.card-title{
    font-weight: 700;
}
body{
    background-color: #eceff1;
}
#search{
    border-radius: 21px;
    background-color: #eceff1;
}
.card{
    height: 420px;
    font-size: .875rem;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    transition: all .15s ease;
    width: 100%;
}
.btn {
    border-radius: 21px;
    padding: 8px 16px 8px 16px !important;
    border-color: #84c236;
    font-weight: 500;
}
.btn:hover{
    background-color: #84c236;
    /* border-color: #84c236; */
}

 /* Search icon */

.searchIcon:hover{
    transform: rotate(90deg);
    transition-duration: .25s;

}
.searchIcon {
    position: relative;
    left: -2.5rem;

}
/* .container-fluid {
    flex-wrap: nowrap !important;
} */
